.about_dev {
  padding: 13vw 6vw 13vw 6vw !important;
}

.developer_img{
  width: 28vw;
  height: 22vw;
}
.balloon {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  animation: float 4s infinite ease-in-out;
}

.balloon.php {
  background: #787cb4;
  animation-delay: 0s;
}

.balloon.css {
  background: #264de4;
  animation-delay: 1s;
}

.balloon.html {
  background: #e34c26;
  animation-delay: 2s;
}

.balloon.js {
  background: #ffd708;
  animation-delay: 3s;
  color: #323330;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.about_title {
  color: #fff;
  font-size: 2vw;
  font-weight: bolder;
}

.about_sub_title {
  color: #fff;
  font-size: var(--second-title);
  font-weight: 700;
}

.about_description {
  color: #fff;
  font-size: var(--description);
  font-weight: 300;
}
