.about_dev {
  padding: 0px 100px 0vw 100px !important;
}

    .notebook {
      width: 300px;
      height: 200px;
      background: #333;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      position: relative;
    }

    .notebook-screen {
      width: 90%;
      height: 70%;
      background: #1e1e1e;
      margin: 15px auto;
      border-radius: 5px;
      color: #0f0;
      font-family: Roboto;
      font-size: 12px;
      overflow: hidden;
      padding: 10px;
    }

    .balloon {
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: #ccc;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: white;
      animation: float 4s infinite ease-in-out;
    }

    .balloon.php {
      background: #787cb4;
      animation-delay: 0s;
    }

    .balloon.css {
      background: #264de4;
      animation-delay: 1s;
    }

    .balloon.html {
      background: #e34c26;
      animation-delay: 2s;
    }

    .balloon.js {
      background: #ffd708;
      animation-delay: 3s;
      color: #323330;
    }

    @keyframes float {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }

.about_title {
  color: #fff;
  font-size: var(--second-title);
  font-weight: bolder;
}

.about_sub_title {
  color: #fff;
  font-size: var(--second-title);
  font-weight: 500;
}

.about_description {
  color: #fff;
  font-size: var(--description);
}