* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Roboto";
}

:root {
  --bg-color: #202632;; /* cor de fundo principal*/
  --second-bg-color: #2f3e53; /* cor de fundo secundária */
  --text-color: #fff; /* usada para o texto */
  --main-color: #009fc2; /* como uma cor principal */
  --second-main-color: #00dad2; /* como uma cor principal */
}
