.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  z-index: 100;
  margin-bottom: 10vw !important;
}

.navbar, .tag_name {
  font-size: 1.3rem;
  font-weight: bold;
}

/* .icon_menu{
  color: #fff;
  font-size: 2rem;
} */

.navbar-toggler{
  border: none !important;
  box-shadow: none;
  padding: 2px 6px;
}

.navbar-toggler:focus{
  border: 1px solid #fff !important;
  box-shadow: none;
}

.hamburger {
  height: 50px;
  width: 50px;
  transform: 0.2s;
  position: relative;
}
.hamburger .checkbox {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.line {
  transition: 0.5s;
  stroke-width: 5px;
  stroke: #fff;
}
.lineTop {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 25;
}
.lineBottom {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 60;
}
.lineMid {
  stroke-dasharray: 40 40;
}
.hamburger .checkbox:checked + svg .line {
  stroke: var(--second-main-color);
}
.hamburger .checkbox:checked + svg .lineTop {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(45deg) translate(-7px, -5px);
}
.hamburger .checkbox:checked + svg .lineMid {
  stroke-dashoffset: 40;
}
.hamburger .checkbox:checked + svg .lineBottom {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(-45deg) translate(-5px, 5px);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
}



.hover_text {
  display: inline-block;
  position: relative;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #fff;
}

.hover_text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--second-main-color);
  transition: width 0.3s ease-in-out;
}

.hover_text:hover::after {
  width: 100%;
}

.hover_text.active::after {
  width: 100%;
}
