body {
  margin: 0;
  height: 100vh;
  background: center;
  background: cover;
  background: no-repeat;
  background: rgb(47,62,83);
  background: radial-gradient(circle, rgba(47,62,83,0.9360119047619048) 0%, rgba(32,38,50,1) 65%);
}

.summary_job{
  padding: 0px 6vw 13vw 6vw !important;
}

.title_job{
  color: var(--second-main-color);
  font-weight: 500;
  font-size: var(--second-title) !important;
}

.dev_name{
  font-size: var(--primary-title) !important;
  color: #fff;
  font-weight: bolder;

}
.description_job{
  font-size: var(--description) !important;
  color: #fff;
  font-weight: 300;
}

.btn_curriculo{
  color: var(--second-main-color);
  border-color: var(--second-main-color);
  background-color: transparent;
  transition: all 0.15s ease-in-out;
}

.btn_curriculo:hover {
  color: #fff;
  background-color: #006b83;
  border-color: var(--main-color);
}

.btn_curriculo:focus {
  color: var(--second-main-color);
  background-color: transparent;
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.2rem rgba(6, 180, 211, 0.5);
  outline: none;
}

.btn_curriculo:active {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.dev_photo{
  width: 25vw;
  height: 25vw;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
  transition: 0.5s;
}

.dev_photo:hover {
  border: 5px solid;
  box-shadow: 0px 0px 10px 10px rgba(13, 250, 242, 0.3);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(13, 250, 242, 0.3);
  -moz-box-shadow: 0px 0px 10px 10px rgba(13, 250, 242, 0.3);
  transition: all 0.5s ease;
  border: 0px;
}

