#summary_job {
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: relative;
  z-index: 500;
  padding: 0vw 6vw 18vw 6vw !important;
}

.hide-section {
  opacity: 0;
  transform: translateY(50px);
}


.show-section {
  opacity: 1;
  transform: translateY(0);
}

.name {
  color: var(--second-main-color);
  font-size: var(--primary-title) !important;
  font-weight: 500;
}

.dev_name {
  font-size: var(--primary-title) !important;
  color: var(--text-color);
  font-weight: bolder;
}
.description_job {
  font-size: var(--description) !important;
  color: var(--text-color);
  font-weight: 200;
  white-space: pre-line;
  text-align: center;
}

.btn_midia_social {
  color: var(--text-color);
  border-color: var(--text-color);
  background-color: transparent;
  transition: all 0.15s ease-in-out;
  border-radius: 50%;
}

.btn_midia_social:hover {
  color: var(--main-color);
  border-color: var(--second-main-color);
  box-shadow: 0 0 0 0.1rem rgba(6, 180, 211, 0.5);
}
