/* Skills Section */
#dev_skills {
  position: relative;
  z-index: 500;
  padding-bottom: 5rem !important;
}

.skill {
  width: 100% !important;
  height: 400px !important;
  margin: 0;
  background-color: #202632;
  border: 0.1px solid #31394b;
  text-align: center;
  padding: 25px 25px;
  border-radius: 3px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.skill img {
  width: auto;
  height: 135px;
  padding-bottom: 10px;
  transition: 0.5s ease;
}

.skill img:hover {
  height: 150px;
}

.title-caption {
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.caption {
  color: white;
  font-size: medium;
  font-weight: 300;
  line-height: 1.5;
}