#dev_skills {
  color: #fff;
  padding: 1.5vw 6vw 1.5vw 6vw !important;
  background: rgb(0,35,53);
  background: linear-gradient(90deg, rgba(0,35,53,1) 14%, rgba(0,42,64,1) 38%, rgba(0,78,119,1) 76%, rgba(0,78,119,1) 91%, rgba(0,84,128,1) 100%);
  display: flex;
  width: 200%;
  animation: scroll 20s linear infinite;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.skill {
  width: 20%;
  text-align: center;
}

.skill, img{
  width: 20%;
  height: auto;
}

.skill, span{
  font-weight: 600;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-30%);
  }
}